.animate-spin {
    animation: spin 5s linear infinite;
}
.color1{
    background-color: #e3e5f4;
}
.color2{
    background-color: #fef7e2;
}
.color3{
    background-color: #eee8fc;
}
.hover:hover{
    transform: scale(1.02);
}

.title{
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
    opacity: 1;
    }
}

#Section1 , #Section2, #Section3 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.3s;
}

#Section1.visible , #Section2.visible, #Section3.visible {
    opacity: 1;
}

@media (min-width: 480px) and (max-width: 767px) {
    .heading{
        font-size: 2.5rem;
        line-height: 1;
    }
}