.hometext{
  top: 20%;
  left: 50%;
  opacity: 100%;
}

img{
    opacity: 95%;
    background-size: cover;
    width: 100%;
    height: 100%;
}
@keyframes blink-color {
  0% {
    color: #dbeafe; 
  }
  50% {
    color: #dbeafe; 
  }
  100% {
    color: #dbeafe;  
  }
}

.blinking-color {
  animation: blink-color 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blink 2s infinite;
}


/* rgb(253 186 116); */

.home-container {
  position: relative;
  overflow: hidden;
}

.home-background {
  object-fit: cover;
  height: 1028px;
}

.txt-rotate {
  display: inline-block;
}


.partner-image {
  width: 400px;
  height: 250px;
  margin-left: 20px;
}


@media (min-width: 374px) and (max-width: 767px){
  .partner-image{
    width: 250px;
    height: 150px;
  }
  
}