body{
  background-color: rgb(249 250 251);;
}

.contact-container {
    padding: 20px;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
    opacity: 1;
    }
}

.contact-heading {
  font-size: 3.5rem;
    transform: translateY(-20px);
    transition: transform 0.8s ease-in-out;
}

.contact-form {
    margin-top: 1.5rem;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.7s;
}


@keyframes slideIn {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@media (min-width: 374px) and (max-width: 767px) {
    .contact-heading {
      font-size: 3rem;
      margin-top: 7.5rem;
    }
  
    .contact-form {
      max-width: 700px;
    }
  
    .form-buttons {
      flex-direction: row;
    }
  
    .form-buttons button {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }