.contact-container {
    padding: 20px;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
    opacity: 1;
    }
}

.contact-heading {
    transform: translateY(-20px);
    transition: transform 0.8s ease-in-out;
}

.contact-form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.7s;
}

@keyframes slideIn {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .contact-heading {
      font-size: 3rem;
      margin-top: 7.5rem;
    }
  
    .contact-form {
      max-width: 600px;
    }
  
    .form-buttons {
      flex-direction: row;
    }
  
    .form-buttons button {
      margin-right: 0.5rem;
      margin-bottom: 0;
    }
  }