.hover:hover {
    transform: scale(1.02);
}

.color {
    background-color: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}
.icon-color {
    color: #0072b1;
}
.animate:hover .icon-color{
    transform: translateX(9px); /* Move the arrow 5px to the right */
    transition: transform 0.3s ease-in-out; /* Smooth animation */
}

@media screen and (min-width: 768px) {
        .container {
            width: 738px;
        }
    }
    
    @media screen and (min-width: 992px) {
        .container {
            width: 962px;
        }
    }
    
    @media screen and (min-width: 1280px) {
        .container {
            width: 1250px;
        }
    }
    
    
    @media screen and (min-width: 1920px) {
        .container {
            width: 1890px;
        }
    }
    @media screen and (min-width: 3840px) {
        .container {
            width: 3810px;
        }
    }

@keyframes fadeIn {
    to {
    opacity: 1;
    }
}
.animate-fade{
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    animation-delay: 0.2s;
}